.select {
  &_container {
    margin: 10px 0;
  }

  &_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  &_value_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 20px;
    width: 300px;

    &_multi {
      height: auto;
      min-width: 300px;
      width: auto;
    }

    input {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #94928b;

      &:hover {
        border-color: #686b6f;
      }

      &:focus {
        border-color: #1a41cf;
      }
    }
  }

  &_multi_option {
    padding: 10px 5px;
    background-color: #ddd;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
  }

  &_indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 8px;
    color: #87949e;
  }

  &_indicator {
    width: 15px;
    height: 15px;

    &_rotated {
      transform: rotate(180deg);
    }
  }

  &_drop {
    position: absolute;
    box-sizing: border-box;
    top: 115%;
    padding: 4px;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #e2e5e9;
    border-radius: 6px;
    background-color: white;
    z-index: 9999;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    outline: none;

    &_item {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 8px 12px;
      cursor: pointer;
      outline: none;

      &:hover,
      &:focus,
      &_selected {
        background-color: rgba(231, 231, 231, 0.2);
        color: #2f323a;
      }
    }
  }

  .invalid-info {
    color: #f00;
    font-size: 14px;
  }
}
