.date {
  &_container {
    box-sizing: border-box;
    margin: 10px 0;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 480px) {
      flex-direction: row;
      gap: 20px;
    }

    & > div > div {
      width: 100%;
    
      @media screen and (min-width: 480px) {
        width: auto;
      }
    }

    input {
      height: 32px;
      border-radius: 5px;
      border: 1px solid #94928b;
      padding: 5px;

      width: 100%;
    
      @media screen and (min-width: 480px) {
        width: auto;
      }
    }
  }

  label {
    display: block;
    margin-bottom: 10px; 
  }
}

.invalid-info {
  color: #f00;
  font-size: 14px;
}

.required {
  color: #f00;
}

.react-datepicker-wrapper {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: auto;
  }
}
