.article {
  &__img-wrapper img {
    width: 940px;
  }

  &__date {
    display: block;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;

    > span {
      position: relative;
    }

    &:hover .hint {
      display: inline-block;
    }
  }

  &__brief-text {
    font-weight: 600;
    font-size: 18px;
  }

  &__text {
    font-weight: 500;
  }

  &__img-text {
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 14px;
    color: #777;
  }

  &__rubrics {
    &-list {
      display: flex;
      gap: 20px;
      flex-direction: row;
      margin-bottom: 15px;
    }

    &-item {
      padding: 5px 15px;
      border-radius: 15px;
      background-color: #ddd;
      transition: all 500ms;

      a {
        text-decoration: none;
        color: #686B6F;
        transition: all 500ms;
      }

      &:hover, &:hover a {
        opacity: 0.85;
        transition: all 500ms;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__fix {
    display: flex;
    gap: 20px;

    button {
      position: relative;
      border: none;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      align-items: center;
      font-size: 14px;
      gap: 15px;
      transition: opacity 500ms;

      &:hover {
        opacity: 0.7;
  
        .hint {
          display: none;
        }
      }
    }
  }

  &__edit {
    img {
      width: 18px;
      height: 18px;
    }
  }

  &__delete {
    img {
      width: 22px;
      height: auto;
      transition: opacity 500ms;
    }
  }
}

.nonews {
  font-size: 18px;
  font-weight: 600;
}

.error {
  font-size: 18px;
  font-weight: 500;
  color: #f00;
}

.hint {
  position: absolute;
  display: none;
  bottom: 30px;
  right: -40px;
  padding: 2px 5px;
  border: 1px solid #4e4e4f;
  border-radius: 2px;
  white-space: nowrap;
  background-color: #fff;
}
