.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
}

.social__networks ul {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.social__networks li {
  margin-right: 20px;
}

.social__network {
  display: block;
  height: 36px;
  width: 36px;
  transition: all 0.5s;
}

.social__fb {
  background-image: url("../../img/fb_icon.svg");
  background-size: cover;
}

.social__tg {
  background-image: url("../../img/tg_icon.svg");
  background-size: cover;
}

.social__ig {
  background-image: url("../../img/instagram_icon.svg");
  background-size: cover;
}

.social__network:hover {
  opacity: 0.65;
  transition: all 0.5s;
}

.apps ul {
  background-color: transparent;
  margin-top: 15px;
}

.apps li:first-child {
  margin-bottom: 10px;
}

.apps a {
  display: block;
  height: 33px;
  width: 111px;
  background-size: cover;
  transition: all 0.5s;
}

.apps a:hover {
  opacity: 0.65;
  transition: all 0.5s;
}

.googleplay {
  background-image: url("../../img/google-play-badge.svg");
}

.appstore {
  background-image: url("../../img/app-store-badge.svg");
}
