.header {
  padding: 20px 0 40px;
  background-color: #101040;
  width: 100%;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 150px);
    color: #e2e2f7;
  }

  &__info {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover span {
      height: 4px;
      transition: all 0.5s;
    }

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #e2e2f7;
      transition: all 0.5s;
    }
  }

  &__logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 150px);

    ul {
      background-color: transparent;
    }
  }

  &__list {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media screen and (min-width: 1024px) {
      flex-wrap: nowrap;      
    }
  }

  &__weather {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 125px;
    width: 125px;
  }

  &__item {
    padding: 30px 20px 0;

    button {
      border: none;
      background-color: transparent;
      font-size: 20px;
      font-weight: 700;
      color: #410445;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        color: #741564;
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #dadaf0;
    transition: all 300ms;

    &:hover,
    &:active,
    &.active {
      color: #e2e2f7;
      opacity: 0.8;
      text-decoration: underline;
      transition: all 300ms;
    }
  }

  &__auth {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;

    &_login {
      justify-content: space-between;

      p {
        margin: 0;
        color: #e2e2f7;
      }
    }
    
    a {
      font-size: 16px;
    }
  }
}
