.input_container {
  margin: 10px 0;
  position: relative;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #94928b;
    padding: 5px;

    &:hover {
      border-color: #686b6f;
    }

    &:focus {
      border-color: #1a41cf;
    }
  }

  input {
    height: 32px;
  }

  textarea {
    resize: none;
    font-family: "Arial", sans-serif;
    font-size: 14px;
  }

  .input-password {
    padding-right: 35px;
  }

  .invalid-info {
    color: #f00;
    font-size: 14px;
  }

  .required {
    color: #f00;
  }

  .show-password {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 5px;
  }
}
