.news__content-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.news__content-heading {
  margin-top: 0;
}

.news__content-info_visited {
  opacity: 0.65;
}

.news__img-wrapper {
  width: 260px;
  margin-right: 40px;
}

.news__img-wrapper img {
  width: 260px;
}

.news__brief-text {
  font-size: 18px;
  line-height: 24px;
  padding-right: 40px;
  font-weight: 500;
}

.news__date {
  display: block;
  font-weight: 300;
  color: #666666;
  font-size: 14px;
}
