h1 {
  font-size: 32px;
  margin-bottom: 30px;
  
}

.content {
  padding: 20px 0;
  background-color: #f0f0f0;
}

.priorityContent {
  margin-bottom: 80px;
}

.content ul {
  padding: 0 20px;
  background-color: #f0f0f0;
}

.content li {
  padding: 20px;
  transition: all 0.5s;
}

.content li:hover {
  background-color: #e1e0e0;
  color: #4f4f4f;
  transition: all 0.5s;
}

.content li a {
  text-decoration: none;
  color: #000000;
  transition: all 0.5s;
}

.content li:hover a {
  color: #4f4f4f;
  transition: all 0.5s;
}

.firstPriority {
  margin-bottom: 20px;
}

.secondPriority {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.secondPriority:last-child {
  margin-bottom: 10px;
}
