h1 {
  font-size: 32px;
  margin-bottom: 30px;
  
}

.content {
  padding: 20px 40px;
  background-color: #f0f0f0;
}

.priorityContent {
  margin-bottom: 80px;
}

ul {
  padding-left: 0;
  background-color: #f0f0f0;
}

.firstPriority {
  margin-bottom: 50px;
}

.secondPriority {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.secondPriority:last-child {
  margin-bottom: 0;
}
