h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.content {
  padding: 20px 0;
  background-color: #f0f0f0;
}

.priority-content {
  margin-bottom: 80px;
}

.content ul {
  padding: 0 20px;
  background-color: #f0f0f0;
}

.content li {
  padding: 20px;
  transition: all 0.5s;
}

.content li:hover {
  background-color: #e1e0e0;
  color: #4f4f4f;
  transition: all 0.5s;
}

.content li a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}

.content li:hover a {
  color: #4f4f4f;
  transition: all 0.5s;
}

.first-priority {
  margin-bottom: 20px;
}

.second-priority {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.second-priority:last-child {
  margin-bottom: 10px;
}

.date {
  margin: 0 40px;
  padding: 20px 0;
  color: #5e5e5e;
  font-size: 24px;
}

.nonews {
  font-size: 18px;
  font-weight: 600;
}

.error {
  font-size: 18px;
  font-weight: 500;
  color: #f00;
}
