.control {
  margin: 10px 0;
}

.control label {
  display: block;
  margin-bottom: 10px;
}

.control input, textarea {
  width: 100%;
  border-radius: 5px;
}

.control input {
  height: 20px;
}

.control textarea {
  resize: none;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.brief {
  height: 50px;
}

.articleText {
  height: 170px;
}

.select {
  margin: 10px 0;
}

.select label {
  margin-right: 15px;
}

.submitButton {
  margin: 10px 0;
  padding: 10px 30px;
  border: none;
  background-color: #505590;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}

.submitButton:hover {
  opacity: 0.6;
  transition: all 0.5s;
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.invalidInfo {
  color: #ff0000;
  font-size: 14px;
}

.submitMsg {
  font-size: 18px;
}

