.comments-list {
  padding-left: 0;
  background-color: #f0f0f0;
}

.comments-list__comment {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bbb;
}

.comments-list__namedate {
  display: flex;
  justify-content: space-between;
}

.comments-list__name {
  font-weight: 600;
}

.comments-list__deldate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comments-list__date {
  color: #777;
}

.comments-list__delbutton {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../img/delete.svg");
  background-size: cover;
  margin-right: 25px;
  transition: all 500ms;
}

.comments-list__delbutton:hover {
  opacity: 0.5;
  transition: all 500ms;
}

.comments-list__delbutton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: #f00;
  font-weight: 600;
}
