.name {
  margin-bottom: 15px;
}

.name label {
  margin-right: 15px;
}

.text {
  resize: none;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.submitButton {
  margin-right: 15px;
}