.footer {
  padding: 40px 0;
  background-color: #3a2d65;
  color: #c9bbf8;

  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    a {
      text-decoration: none;
      color: #c9bbf8;
      font-size: 18px;
      font-weight: 500;

      &:hover,
      &:active {
        text-decoration: underline;
        color: #dadaf0;
      }
    }
  }

  &-logo {
    margin-bottom: 20px;
  }

  &-copyright {
    &_desktop {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &_mobile {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
}
