@font-face {
  font-family: "Onest";
  src: url("../src/fonts/WOFF/OnestMedium1602-hint.woff") format("woff");
  src: url("../src/fonts/TTF/OnestMedium1602-hint.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;}

@font-face {
  font-family: "Onest";
  src: url("../src/fonts/WOFF/OnestRegular1602-hint.woff") format("woff");
  src: url("../src/fonts/TTF/OnestRegular1602-hint.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("../src/fonts/WOFF/OnestBold1602-hint.woff") format("woff");
  src: url("../src/fonts/TTF/OnestBold1602-hint.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("../src/fonts/WOFF/OnestExtraBold1602-hint.woff") format("woff");
  src: url("../src/fonts/TTF/OnestExtraBold1602-hint.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("../src/fonts/WOFF/OnestBlack1602-hint.woff") format("woff");
  src: url("../src/fonts/TTF/OnestBlack1602-hint.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("../src/fonts/WOFF/OnestThin1602-hint.woff") format("woff");
  src: url("../src/fonts/TTF/OnestThin1602-hint.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("../src/fonts/WOFF/OnestLight1602-hint.woff") format("woff");
  src: url("../src/fonts/TTF/OnestLight1602-hint.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Onest', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

@media screen and (min-width: 1280px) {
  body {
    min-width: 1180px;
  }
}

main {
  flex: 1 1;
  background-color: #f0f0f0;

  @media screen and (min-width: 480px) {
    background-color: #ddd;    
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  @media screen and (min-width: 480px) {
    padding: 40px;
  }
}

article {
  background-color: #f0f0f0;
  padding: 0 10px;

  @media screen and (min-width: 360px) {
    padding: 0;
  }

  @media screen and (min-width: 480px) {
    padding: 20px;
  }

  @media screen and (min-width: 1024px) {
    padding: 20px 40px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
